*{
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}
.wrapper{
    display: flex;
    text-align: center;
    margin-top: 25px;
    gap: 50px;

}
body{
    display: grid;
    place-items: center
    ;
    padding: 50px;
}
.main_container{
    border: thin solid black;
    width: 80%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    place-items: center
    ;
    position: absolute;
    bottom: 50%;
    transform: translate(-50,-50);
    
}
h1{
    padding: 10px;
}